################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/hashMap_spellChecker/v16/Browse.VC.db
